<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>InnowiseAdminUserApplication</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<h1 class="title">Login your user here</h1>
<div>
    <form method="post" th:action="@{/login}">
        <div class="login-page__form">
            <div>
                <input class="input" name="username" placeholder="Username" type="text"/>
            </div>
            <div>
                <input class="input" name="password" placeholder="Password" type="password"/>
            </div>
            <input class="button" type="submit" value="Log in"/>
        </div>
        <!--        <th><a th:href="@{/registration}"> Register new user </a></th>   in case you decided to permit all users access to registration page -->
    </form>
</div>
</body>
</html>