<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>InnowiseAdminUserApplication</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div class="form-control">
    <h1 class="title">Register your user here</h1>
    <form id="registerForm" th:method="POST" th:object="${user}">
        <div class="form-list">
            <div class="form-item">
                <input class="input" id="username" name="username" placeholder="Username" type="text"/>
                <span class="input-validation-error" th:errors="*{username}"
                      th:if="${#fields.hasErrors('username')}">User error</span>
            </div>
            <div class="form-item">
                <input class="input" name="password" placeholder="Password" type="password"/>
                <span class="input-validation-error" th:errors="*{password}"
                      th:if="${#fields.hasErrors('password')}">User error</span>
            </div>
            <div class="form-item">
                <b>
                    <div class="registration-page-radio-button__item">
                        <div th:each="roles : ${role}">
                            <input class="registration-page__radio-button" name="role"
                                   th:text="${roles.name()}"
                                   th:value="${roles.name()}"
                                   type="radio"/>
                        </div>
                        <span class="input-validation-error" th:errors="*{role}"
                              th:if="${#fields.hasErrors('role')}">User error</span>
                    </div>
                </b>
            </div>
            <div class="form-item">
                <input class="input" name="fullName" placeholder="Full name" type="text"/>
                <span class="input-validation-error" th:errors="*{fullName}"
                      th:if="${#fields.hasErrors('fullName')}">User error</span>
            </div>
            <div class="form-item">
                <input class="input" name="position" placeholder="Position" type="text"/>
                <span class="input-validation-error" th:errors="*{position}"
                      th:if="${#fields.hasErrors('position')}">User error</span>
            </div>
            <div class="form-item">
                <input class="input" id="department" name="department" placeholder="Department" type="text"/>
                <span class="input-validation-error" th:errors="*{department}"
                      th:if="${#fields.hasErrors('department')}">User error</span>
            </div>
            <div class="form-item">
                <input class="input" name="address" placeholder="Address" type="text"/>
                <span class="input-validation-error" th:errors="*{address}"
                      th:if="${#fields.hasErrors('address')}">User error</span>
            </div>
            <div class="form-item">
                <input class="input" name="phoneNumber" placeholder="Phone number" type="text"/>
                <span class="input-validation-error" th:errors="*{phoneNumber}"
                      th:if="${#fields.hasErrors('phoneNumber')}">User error</span>
            </div>
            <input class="button registration-page__button" type="submit" value="Register"/>
            <th><a th:href="@{/login}"> To login </a></th>
            <th><a th:href="@{/userpool}"> To userpool </a></th>
        </div>
    </form>
</div>
</body>
</html>